*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}
body{
	font-family: 'Montserrat', sans-serif;
	background: #2b2b2b;
}
img{
	max-width: 100%
}
a{
	text-decoration: none;
	color: rgb(255 255 255 / 1);
}
.flex{
	display: flex;
	flex: 0 0 auto;
	flex-wrap: wrap;
}
header{
    align-items: flex-end;
    margin: auto;
    padding-top: 20px;
    width: 1000px;
    justify-content: space-between;
    border-bottom-style: inset;
    border-color: rgb(255,219,1);
}
section{
    width: 1000px;
    margin: auto;
}
header div{}
.logo{
    padding: 20px 20px;
}
.logo h1{
    font-size: 26px;
    font-weight: 300;
    color: rgb(255,219,1);
}
nav{
    width: 80%;
}
nav ul{
    justify-content: flex-end;
    list-style: none;
}
nav li{
    padding: 0px 5px;
}
nav li:hover{
    background: rgb(255,219,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
nav a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
    display: inline-block;
    font-weight: 600;
}
nav a:hover{
    font-weight: 6;
    font-weight: 600;
    transition-duration: 0.3s;
    color: black;
}
.title{
    display: inline-block;
    color: #696969;
    font-size: 12px;
    font-weight: 700;
    color: white;
}
.blog{
    padding: 80px 0px;
    /* margin-top: 55px; */
    background: url(../images/blog.webp);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: right;
}
.blog h1{
    color: rgb(255,219,1);
    font-size: 80px;
    font-weight: 800;
    padding: 10px 0px;
}
.blog h2{
    color: rgb(255,219,1);
    font-size: 20px;
    font-weight: 700;
}
.banner{
    text-align: center;
    /* margin-top: 80px; */
    text-transform: uppercase;
    border-style: solid;
    border-radius: 60px;
    padding: 10px 0px;
    border-color: rgb(255,219,1);
    border-bottom: none;
    border-bottom-left-radius: 0px;
    background: url(../images/smiley.png);
    margin-right: auto;
    background-size: contain;
    background-position-x: 20px;
    background-repeat: no-repeat;
    border-bottom-right-radius: 0px;
}
.banner .title{
    padding: 10px;
}
.banner h1{
    font-size: 35px;
    padding: 10px 0px;
    color: #ffffff;
}
.portfolio{
    background: rgb(255 219 1);
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.box{
    justify-content: center;
}
.tab{
    width: 33.33%;
    padding: 15px;
    text-align: center;
}
.tab:hover{}
.tab a{
    display: block;
    padding: 15px 15px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 4px 4px 2px #00000087;
}
.tab a:hover{
    transition-duration: 0.3s;
    box-shadow: none;
}
.tab img{border-radius: 10px;display: flex;height: 160px;object-fit: cover;}
.tab a:hover img{}
.tab span{padding-top: 10px;color: #565656;}
.tab a:hover span{
    color: rgb(0 0 0 / 1);
}
.class02{}
.class03{}
.minimo{}
.basicgrid{}
.pofo{}
.saasland{}
footer{
    width: 1000px;
    margin: auto;
    padding: 40px 20px;
    border-color: #ffdb01;
    margin-top: 60px;
    border-style: outset;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
footer ul{
    width: 50%;
    list-style: none;
}
footer li{
    padding: 5px 0px;
}
footer li:hover{
}
footer a{
    font-size: 14px;
    font-weight: 500;
    margin: 10px 0px;
}
footer a:hover{
    color: #ffdb01;
}
}
footer a:hover{}
.terms{}
.terms a{}
.terms a h3{}
.contact{
    justify-content: flex-end;
    align-content: flex-start;
}
.contact li{
    font-size: 14px;
    font-weight: 500;
    color: rgb(255 255 255 / 1);
    margin: 0px 15px;
    margin-left: 5px;
}
.contact li a{}
.contact li a:hover{
    color: rgb(255,219,1);
}
.contact i{
}
.contact i:hover{}
.back{}







